In [3]:
##for example check the class
i=10

In [4]:
print(type(i))

<class 'int'>

In [5]:
## create th class

In [6]:
class test:
    pass

In [7]:
class person:
    pass

In [8]:
p=person

In [11]:
print(p)

<class '__main__.person'>

In [13]:
p.name="vivek"
p.surname="verma"
p.yob=1997

In [22]:
a=person
a.name='abc' ##bad method
a.yob=1888
a.empno=345424

In [23]:
p.name

'abc'

In [24]:
p.yob

1888

In [25]:
a.name

'abc'

In [26]:
p.surname

'verma'

In [27]:
type(a.name)

str

In [38]:
class person:
    def __init__(self,name,surname,yob):
        self.name=name
        self.surname=surname
        self.yob=yob

In [43]:
p= person("vivek","verma",1997)
a= person('ram','kumar',2005)

In [44]:
s= person('amit','kumar',1994)

In [45]:
s.name

'amit'

In [46]:
p.name

'vivek'

In [48]:
a.surname

'kumar'

In [65]:
class person:
    def __init__(self,name,surname,yob):
        self.name=name
        self.surname=surname
        self.yob=yob
        
    def test(self,n,m):
        return n+m+self.yob

In [66]:
p=person("vivek","kumar",24)

In [67]:
p.name

'vivek'

In [68]:
p.test(24,42)

90

In [69]:
print(p) ## object location

<__main__.person object at 0x7f194e6605b0>

In [75]:
class person:
    def __init__(self,name,surname,yob):
        self.name=name
        self.surname=surname
        self.yob=yob
        
    def test(self,n,m):
        return n+m+self.yob    
    def __str__(self):
        return "my name is"

In [77]:
p=person("vivek","kumar",24)

In [78]:
print(p)

my name is

In [79]:
p.name

'vivek'

In [80]:
p

In [81]:
## another way
class test:
    pass

In [83]:
p=test()
p.name="vivek"
p.surname='verma'
p.yob=1997

In [84]:
p.name

'vivek'

In [85]:
s=test()
s.name='amit'

In [86]:
s.name

'amit'

In [87]:
p.name

'vivek'

In [89]:
##another way
class person:
    def pass_name(self,name):
        self.name=name
    def pass_surname(self,surname):
        self.surname=surname
    def pass_yob(self,yob):
        self.yob=yob

In [90]:
p=person()

In [91]:
p.name

AttributeError: 'person' object has no attribute 'name'

In [95]:
p.pass_name("vivek")
p.pass_surname('verma')
p.pass_yob(1997)

In [96]:
p.name

'vivek'

In [97]:
p.surname

'verma'

In [98]:
p.yob

1997

In [103]:
## abstraction (_protected)
class person:
    def __init__(self,name,surname,yob):
        self._name=name
        self._surname=surname
        self._yob=yob
        
    def test(self,n,m):
        return n+m+self._yob    
    def __str__(self):
        return "my name is"

In [104]:
p=person('vivek','kumar',1997)

In [105]:
p._name

'vivek'

In [106]:
p.__dict__

{'_name': 'vivek', '_surname': 'kumar', '_yob': 1997}

In [111]:
## private
class person:
    def __init__(self,name,surname,yob):
        self.__name=name
        self.__surname=surname
        self.__yob=yob
        
    def test(self,n,m):
        return n+m+self.__yob    
    def __str__(self):
        return "my name is"

In [112]:
p=person('vivek', 'kumar',1997)

In [113]:
p.__name

AttributeError: 'person' object has no attribute '__name'

In [114]:
p.__dict__

{'_person__name': 'vivek', '_person__surname': 'kumar', '_person__yob': 1997}

In [115]:
p._person__name

'vivek'

In [116]:
p._person__surname

'kumar'

In [118]:
## inheritance
## abstraction (_protected)
class person:
    def __init__(self,name,surname,yob):
        self._name=name
        self._surname=surname
        self._yob=yob
        
    def test(self,n,m):
        return n+m+self._yob    
    def __str__(self):
        return "my name is"

In [120]:
class student(person):
    def __init__(self,roll_no,college_name, *args):
        super(student,self).__init__(*args)
        self.roll_no= roll_no
        self.college_name=college_name
    
stud=student(450,"cdac",'vivek',"verma",1997)

In [121]:
stud._name

'vivek'

In [122]:
stud.test(4,5)

2006

In [132]:
class a:
    def test(self):
        print("my name is vivek")
class b:
    def test(self):
        print("my surname is verma")
class c(a,b):
    obja=a()
    objb=b()
    obja.test()
    objb.test()
objc=c()
objc.test() ## pass frist

my name is vivek
my surname is verma
my name is vivek